*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Portfolio */
html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Work Sans, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 160px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1;
  position: sticky;
  z-index: 1;
}
h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 8px;
  left: -8px;
  z-index: -1;
  text-shadow: none;
  background-image: url(images/patterns/stripes.png);
  background-size: 8px 8px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: headline 15s linear infinite;
}
@keyframes headline {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}

h2,
.h2 {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
}
h3,
.h3 {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
}

h4,
.h4 {
  font-family: Bitter;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
}

body {
  font-family: Bitter;
  font-size: 18px;
  line-height: 30px;
  color: #162a36;
}

.link {
  font-family: Bitter;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #162a36;
}

.link:hover,
.link:focus {
  color: #f24130;
  outline: none;
}

.link:active {
  color: #0b8c5d;
}

.button {
  cursor: pointer;
  top: 0;
  left: 0;
  position: relative;
  display: inline-block;
  align-self: center;
  transition: all 0.15s linear 0s;
  padding: 8px 16px;
  background: #ffffff;
  border: 4px solid #162a36;
  box-shadow: -8px 8px 0px #162a36;
  font-family: Work Sans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #162a36;
}

.button:hover,
.button:focus {
  top: 4px;
  left: -4px;
  box-shadow: -4px 4px 0px #162a36;
  outline: none;
}

.button:active {
  top: 8px;
  left: -8px;
  box-shadow: none;
  background-color: #162a36;
  color: #ffffff;
}

.gridContainer {
  display: grid;
  grid-template-columns: minmax(16px, 10vw) minmax(80vw, 940px) minmax(
      16px,
      10vw
    );
  grid-template-rows: minmax(660px, 100vh) auto auto auto auto;
  gap: 104px 0px;
  grid-template-areas:
    "hero hero hero" ". work ." ". about ."
    ". contact ." ". footer .";
}

.gridContainer--caseStudy {
  display: grid;
  grid-template-rows: minmax(660px, 100vh) 1fr auto auto;
  grid-template-areas:
    "hero hero hero" ". caseStudy ."
    ". contact ." ". footer .";
}

.hero {
  grid-area: hero;
  display: grid;
  grid-template-columns:
    minmax(16px, 10vw) minmax(40vw, 470px) minmax(40vw, 470px)
    minmax(16px, 10vw);
  grid-template-rows: 128px auto;
  gap: 0px 0px;
}

.header {
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav {
  list-style: none;
  background: #ffffff;
}

.nav__navListItem {
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 48px;
}

.nav__navListItem:last-of-type {
  margin-right: 8px;
}

.nav__navLink {
  font-family: Work Sans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.heroContent {
  grid-area: 2 / 2 / 3 / 3;
  padding-top: 120px;
}

.heroContent__headline {
  margin-bottom: 48px;
}

.heroContent__intro {
  margin-bottom: 36px;
}

.heroImage {
  grid-area: 1 / 3 / 3 / 5;
  background: url(images/patterns/pattern.svg) #0b8c5d repeat center center;
  background-size: 136%;
}

.heroImage--kaus {
  background-image: url(case-studies/kaus-insurance/hero.png),
    url(images/patterns/back_4.png);
  background-color: #ffd700;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  background-size: contain, 10px 10px;
}

.work {
  grid-area: work;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto minmax(40vh, 400px) minmax(40vh, 400px);
  gap: 32px 24px;
  grid-template-areas: "work__header work__header" "case1 case2" "case3 case4";
}

.work__header {
  grid-area: work__header;
  padding: 16px 0;
}

.case1 {
  grid-area: case1;
  background: url(images/patterns/back_1.png) repeat;
}

.case1 .teaser__overlay {
  background-color: #ffd700e0;
}

.case2 {
  grid-area: case2;
  background: url(images/patterns/back_2.png) repeat;
}

.case2 .teaser__overlay {
  background-color: #8ad0b9e0;
}

.case3 {
  grid-area: case3;
  background: url(images/patterns/back_3.png) repeat;
}

.case3 .teaser__overlay {
  background-color: #f24130e0;
}

.case4 {
  grid-area: case4;
  background: url(images/patterns/back_4.png) #ffd700 repeat;
}

.case4 .teaser__overlay {
  background-color: #f2a2a2e0;
}

.teaser {
  position: relative;
}

.teaser:hover .teaser__overlay,
.teaser:focus .teaser__overlay,
.teaser:focus-within .teaser__overlay {
  opacity: 1;
}
.teaser__image {
  width: 100%;
  height: 100%;
  padding: 8px;
  object-fit: contain;
}
.teaser__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teaser__category {
  font-size: 12px;
}

.teaser__headline {
  margin-bottom: 48px;
}

.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto min-content;
  gap: 0 24px;
  grid-template-areas: "about__headline about__headline" "about__image about__text";
  grid-area: about;
}

.about__headline {
  grid-area: about__headline;
  padding-bottom: 48px;
}

.about__image {
  grid-area: about__image;
  width: 100%;
  height: 100%;
  max-height: 480px;
  object-fit: contain;
}

.about__text {
  grid-area: about__text;
}

.contact {
  grid-area: contact;
  justify-self: center;
  width: 60%;
}

.contact__headline {
  padding-bottom: 48px;
  text-align: center;
}

.contact__buttonList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact__button {
  margin-left: 48px;
}

.contact__button:first-of-type {
  margin: 0;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

.footer__link {
  padding: 48px 0 16px 0;
  font-size: 12px;
}

.impressum {
  padding: 48px;
}

.caseStudy {
  grid-area: caseStudy;
}

.caseStudy__intro {
  padding: 24px;
}
.caseStudy__intro--kaus {
  background: url(images/patterns/back_4.png) #ffd700 repeat;
}

.caseStudy__introText {
  padding: 16px;
  columns: 2;
}
.caseStudy__introText--kaus {
  background-color: #f2a2a2;
}

.caseStudy__sectionSubheadline--kaus {
  color: #f2a2a2;
}

@media all and (max-width: 768px) {
  .gridContainer {
    gap: 48px 0px;
  }

  .hero {
    display: block;
  }

  h1,
  .heroContent__headline {
    font-size: 72px;
  }

  .heroContent,
  .header,
  .work,
  .about,
  .contact,
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .work {
    display: block;
  }

  .teaser {
    margin-bottom: 24px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about__image {
    height: 30vh;
    align-self: center;
  }

  .contact {
    width: 100%;
  }

  .contact__buttonList {
    flex-direction: column;
  }

  .contact__button,
  .contact__button:first-of-type {
    width: 100%;
    margin-left: 0;
    margin-bottom: 24px;
    text-align: center;
  }
}
