*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Portfolio */
html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Work Sans, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 160px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1;
  position: sticky;
  text-shadow: -2px 2px 0 #ffffff;
}
h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 8px;
  left: -8px;
  z-index: -1;
  text-shadow: none;
  background-image: url(stripes.png);
  background-size: 8px 8px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: headline 15s linear infinite;
}
@keyframes headline {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}

h2 {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
}
h3 {
  font-family: Work Sans;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
}

h4 {
  font-family: Bitter;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
}

body {
  font-family: Bitter;
  font-size: 18px;
  line-height: 30px;
  color: #162a36;
}

a {
  font-family: Bitter;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #162a36;
}

.button,
button {
  cursor: pointer;
  top: 0;
  left: 0;
  position: relative;
  display: inline-block;
  transition: all 0.15s linear 0s;
  padding: 8px 16px;
  background: #ffffff;
  border: 4px solid #162a36;
  box-shadow: -8px 8px 0px #162a36;
  font-family: Work Sans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #162a36;
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  top: 4px;
  left: -4px;
  box-shadow: -4px 4px 0px #162a36;
  outline: none;
}

.button:active,
button:active {
  top: 8px;
  left: -8px;
  box-shadow: none;
  background-color: #162a36;
  color: #ffffff;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto minmax(40vw, 580px) minmax(40vw, 580px) auto;
  grid-template-rows: 100vh auto auto auto auto;
  gap: 32px 0px;
  grid-template-areas:
    "hero hero hero hero" ". work work ." ". about about ."
    ". contact contact ." "footer footer footer footer";
}

.hero {
  grid-area: hero;
  display: grid;
  grid-template-columns: auto minmax(40vw, 580px) minmax(40vw, 580px) auto;
  grid-template-rows: 100px auto;
  gap: 0px 0px;
}

.header {
  grid-area: 1 / 2 / 2 / 4;
}

.heroContent {
  grid-area: 2 / 2 / 3 / 3;
  padding-top: 120px;
}

.heroContent__header {
  margin-bottom: 48px;
}

.heroContent__intro {
  margin-bottom: 36px;
}

.heroImage {
  grid-area: 1 / 3 / 3 / 5;
  background-color: palevioletred;
}

.work {
  grid-area: work;
}

.about {
  grid-area: about;
}

.contact {
  grid-area: contact;
}

.footer {
  grid-area: footer;
}
